# Ignore Python cache files
__pycache__/
*/__pycache__/
*.py[cod]

# Ignore migrations
migrations/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?